<html>

  <head>
  </head>
  <body>
    <div id="progress-tracker">
      <ul>
        <li>Start Application</li>
        <li><b>About You</b></li>
        <li>Where you live</li>
        <li>Purpose of the application</li>
        <li>Confirmation</li>
        <li>Submitted</li>
        
      </ul>

      
      <p>Your application id is {{application.id}}</p>
    </div>
    <form id="about-you-form" method="POST">
      <div id="stage-content"></div>
      <div id="stage-navigation">
        <input type="submit" value="Next"/>
      </div>
      <p></p>
    </form>
  </body>
</html>
