<html>

  <head>
  </head>
  <body>
    <div id="progress-tracker">
      <ul>
        <li>Check Eligibility</li>
        <li>Who you are</li>
        <li><b>Where you live</b></li>
        <li>Purpose of the application</li>
        <li>Confirmation</li>
        <li>Submitted</li>
        
      </ul>

    </div>
    <form id="where-you-live-form" method="POST">
      <div id="stage-content"></div>
      <div id="stage-navigation">
<!--        <input type="submit" value="Previous"/>-->
        <input type="submit" value="Next"/>
      </div>
      <p></p>
    </form>
  </body>
</html>
